*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/classes/activation.jar
target/classes/mail.jar
target/maven-archiver/pom.properties
target/SendEmail-0.0.1-SNAPSHOT.jar
target/surefire-reports/enviartest.EnviarTest.txt
target/surefire-reports/enviartest.EmailSenderTest.txt
*.txt
*.xml
target/surefire-reports/TEST-enviartest.EnviarTest.xml
target/surefire-reports/TEST-enviartest.EmailSenderTest.xml
*.prefs